@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.wrapper {
    padding-top: 10rem;
    margin: auto;
    height: 100vh;
    margin: auto;
    width: 80%;
    background-color: #252526;
}

.menu {
    margin: auto;
    max-width: 74.7rem;
    background-color: #ffffff;
    border-radius: 0.8rem 0.8rem 0 0;
}
.menu .taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5rem 0 3.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
    height: 7.3rem;
    background-color: #03a9f4;
    color: #ffffff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.7rem;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin-top: 2rem;
    font-style: normal;
    color: #4caf50;
}
.page-header h1 {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 5.4rem;
}
.page-header h2 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
}
.page-header h3 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
}
.page-header .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
}
.icons .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    padding: 1px 10px;
    width: 4.8rem;
    height: 2rem;
    background: #bbbbbb;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.icons .icon i {
    font-size: 1.4rem;
}
.page-header button {
    width: 21rem;
    height: 4.5rem;
    margin: 2.5rem 0 2.5rem 0;
    background-color: #ffffff;
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
    border-radius: 3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    cursor: pointer;
}

/* Table Start */
table {
    margin: 0 0 0.5rem 0;
    border-spacing: 0;
}
thead tr {
    background: #eeeeee;
}

table th {
    height: 6.1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
table td {
    border-bottom: 1px solid #bbbbbb;
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555;
}

.table {
    display: none;
    border: 1px solid #bbbbbb;
    padding: 1rem;
    max-width: 74.7rem;
    width: calc(100%-4rem);
    margin: 2rem;
    overflow-x: scroll;
}
.table th i {
    font-size: 1.8rem;
}
.table th div {
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555;
}

.table1 td {
    min-width: 136px;
}
.table1 th {
    min-width: 136px;
}
.table2 td {
    min-width: 96px;
}
.table2 th {
    min-width: 96px;
}
.active {
    display: block;
}
/* Table End */
